:root {
  --vp-font-family-base: "Geist Variable", sans-serif;
  --vp-font-family-mono: "Geist Mono Variable", monospace;
  --vp-c-brand-1: #4cc2fe;
  --vp-c-brand-2: #4cc2fe;
  --vp-c-brand-3: #2180b0;
}
